/**
 * Common styles across the app
 */

html, body {
  font-family: Helvetica, "Lucida Sans Unicode", "Lucida Grande", Arial, Sans-Serif;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  width: 480px;

}

h1, h2, h3, h4, h5, h6 {
  margin: 3px 0;
}

.loading-notification {
  display: block;
  margin: 30px auto;
  line-height: 1.1em;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  font-size: 22px;
  padding: 5px;
  width: 150px;
  height: 25px;
  text-align: center;
  background: #e5e5e5;
  border: 1px solid #bdbdbd;
}

.backoffice .action-item {
  position: relative;
}

.backoffice .action-map {
  float: right;
  height: 300px;
  width: 300px;
}

.backoffice .action-item .description {
  float: left;
  width: 150px;
}

.backoffice .action-item .description label.donate {
  bottom: 13px;
  left: 5px;
  position: absolute;
}

