Your name is: {{yourName}}


<div id="map_canvas" style="width: 300px;"></div>
<script type="text/javascript">
  google.setOnLoadCallback(function() {
      var data = new google.visualization.DataTable();

      data.addRows(27);
      data.addColumn('string', 'City');
      data.addColumn('number', 'Popularity');

      {{#regions}}
        data.setValue({{id}} - 1, 0, '{{code}}');
        data.setValue({{id}} - 1, 1, 1000 * Math.random());
      {{/regions}}

      var options = {
        width : 350,
        resolution : "provinces"
      };
      options['region'] = 'AR';
      options['colors'] = [0xFF8747, 0xFFB581, 0xc06000]; //orange colors

      var container = document.getElementById('map_canvas');
      var geomap = new google.visualization.GeoMap(container);
      geomap.draw(data, options);
  });
  google.load('visualization', '1', {'packages': ['geochart']});

  /*var australia = new google.maps.LatLng(-25, 133);

  var map = new google.maps.Map(document.getElementById("map"), {
    center: australia,
    zoom: 4,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [{
      elementType : "geometry",
      featureType : "administrative.province",
      stylers: [
        { hue: "#00d4ff" },
        { saturation: 60 },
        { lightness: -20 },
        { gamma: 1.51 }
      ]
    }]
  });*/
</script>
