
<html>
<head>
  {{>scripts}}

  <script type="text/javascript" src="/asset/js/lib/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script> 
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 
</head>
<body>
  {{{yield}}}

  <script type="text/javascript" src="/asset/js/lib/underscore.min.js"></script>
  <script type="text/javascript" src="/asset/js/lib/backbone.min.js"></script>
  <script type="text/javascript" src="/asset/js/lib/Colour.min.js"></script>
  <script type="text/javascript" src="/asset/js/Configure.js"></script>
</body>
</html>

