<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>juntAR</title>

    <link rel="stylesheet" href="/asset/css/base.css">

    <link type="text/css" href="/asset/css/jquery-ui-theme.css" rel="stylesheet" />
    <link type="text/css" href="/asset/css/peach.css" rel="stylesheet" />
    <script type="text/javascript" src="/asset/js/libs/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/asset/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/asset/js/libs/underscore.min.js"></script>
    <script type="text/javascript" src="/asset/js/libs/backbone.min.js"></script>
    <script type="text/javascript" src="/asset/js/peach.js"></script>
  </head>

  <body>
    {{{yield}}}
  </body>
</html>
